.banner img {
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}

.navbar {
    background-color: cadetblue;
}

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
}

.nav-item a {
    font-weight: 600;
}